.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Analysis-output
Data/Traits/Trait-Pictures/
Data/Interim-Reports/
Data/Seed-set/Seedhead-Photos/
Data/Seed-set/Seedhead Photos/
Data/Climate/
Data/Traits/
Data/Census-Data/
Data/Seed-bank/
Data/Seed-bag/
Data/Seed-set/
Data/Viability/
Figures/
Scripts/Archived/


